<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>ACME - Gestione Progetti - Amministrazione</title>
    </head>

    <body>
        <h1>Gestione Progetti</h1>

        <h2>Amministrazione</h2>

        <% dipartimenti.forEach(function (dipartimento) { %>

        <form action = "/aggiungi_dipartimento"  method="POST">
            <input type="submit" value="Aggiungi dipartimento">
            <input type="hidden" name="id" value="<%= dipartimenti.id %>">
        </form>
        
        <ul>
            <li><%= dipartimento.nome %></li>
        <% }); %>
        </ul>

       
    </body>
</html>