<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>ACME - Gestione Progetti - Amministrazione</title>
    </head>

    <body>
        <h1>Gestione Progetti</h1>

        <h2>Amministrazione</h2>

        <h3>Impiegato</h3>

        <p><a href="/admin">Admin</a></p>

        <form action = "/admin/impiegato/edit"  method="POST">
            <input type="text" name="cognome" id="nome">
            <label for="cognome"> Cognome : Impiegato</label> <br>
            <input type="text" name="nome" id="nome">
            <label for="nome"> nome : Impiegato</label> <br>
            <input type="submit" value="Salva">
        </form>

    </body>
</html>