<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>ACME - Gestione Progetti - Amministrazione</title>
    </head>

    <body>
        <h1>Gestione Progetti</h1>

        <h2>Amministrazione</h2>

        <h3>Dipartimenti</h3>

        <p><a href="/admin">Admin</a></p>

        <form action = "/admin/dipartimenti"  method="POST">
            <input type="text" name="nome" id="nome">
            <label for="nome">Nome Dipartimento:</label>
            <input type="submit" value="Crea dipartimento">
        </form>

        <ul>
            <% dipartimenti.forEach(function (dipartimento) { %>
                <li><%= dipartimento.nome %> - <a href="/admin/dipartimenti/<%= dipartimento.id %>">modifica</a></li>
            <% }); %>
       </ul>

        <ul>
            <% sedi.forEach(function (sedi) { %>
                <li><%= sedi.nome %> <li>

                <% }); %>
        </ul>

    </body>
</html>