<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Amministrazione</title>
    </head>
    <body>
        <% Dipartimenti.forEach(function(Dipartimenti){ %>
            <li><%= Dipartimenti.nome %></li>
        <% }); %>
        <form action = "/aggiungi_dipartimento"  method="POST">
            <input type="text" name="nome">
            <input type="submit" value="Aggiungi dipartimento">
        </form>  
    </body>
</html>